.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #265BC4 !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #396bcf !important;
  color: white !important;
}